:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: row;
}

ul li {
  list-style: none;
}
main {
  display: flex;
  flex-direction: row;
}

.Pet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
